<h2><%= @song.title %></h2>
Released: <%= @song.released %>
Release year: <%= @song.release_year %>
Artist name: <%= @song.artist_name %>
Genre: <%= @song.genre %>
<%= form_tag person_path(@person.id), method: "delete" do %>
  <%= submit_tag "Delete #{@person.name}" %>
<% end %>
